{% include "header.html" %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('https://media.istockphoto.com/id/1389908515/photo/modern-hair-salon-with-no-people.webp?b=1&s=170667a&w=0&k=20&c=kYS16aaWVeZl-fZG_Dg4acJtMjbfqHCbg2z7fM8G5c8=')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>About SEA Salon</h1>
                        <span class="subheading">“Beauty and Elegance Redefined</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Welcome to our salon, a place where beauty and style come first. With an experienced team of experts and the best service, we offer a variety of treatments from haircuts and styling to manicures, pedicures and facials. Using premium products and the latest techniques, we ensure every visit provides satisfying results and a pampering experience. Make our salon your destination for a charming appearance transformation and increased self-confidence.</p>
                </div>
            </div>
        </div>
    </main>
<!-- Footer-->
{% include "footer.html" %}
